{% extends 'main.html' %} 
{%  load static %}

{% block tittle %}
Configuración
{% endblock %}

{%  block content  %}

<div class="p-5"> 
    <div id="" class="carousel slide" > 
        <div class="carousel-inner"> 
            <div class="carousel-item active"> 
                <div class="card"> 
                    <div class="path">Categoria: {{ course.category }}</a></div> 
                    <div class="row"> 
                        <div class="col-md-6 text-center align-self-center"> 
                            <img class="img-fluid" src="https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80"> 
                        </div> 
                        <div class="col-md-6 info p-5"> 
                            <div class="row title"> 
                                <div class="col">
                                    <h2>{{ course.title}}</h2>
                                </div> 
                                <div class="col text-right">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                </div> 
                            </div> 
                            <p>Course's platform</p> 
                            <span class="fa fa-star checked"></span> 
                            <span class="fa fa-star checked"></span> 
                            <span class="fa fa-star checked"></span> 
                            <span class="fa fa-star checked"></span> 
                            <span class="fa fa-star-half-full"></span> 
                            <span id="reviews">1590 Reviews</span> 
                            <div class=""> 
                                <h2>$10.99</h2> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
            
            <div class="row lower p-5"> 
                <div class="col text-right align-self-center"> 
                    <button class="btn">Add to favorites</button> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
</div> 
</div>
{%  endblock  %}