{% extends 'main.html' %} 
{%  load static %}

{% block tittle %}
Configuración
{% endblock %}

{%  block content  %}

<div class="p-5 rounded-lg"> 
    <div id="" class="carousel slide"> 
        <div class="carousel-inner "> 
            <div class="carousel-item active"> 
                <div class="card p-5"> 
                    <!-- <div class="path">Categoria: {{ course.category }}</a></div>  -->
                    <div class="row"> 
                        <div class="col-md-6 text-center align-items-start align-self-start"> 
                            <img class="img-fluid" src="https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80"> 
                        </div> 
                        <div class="col-md-6 info p-5"> 
                            <div class="row title"> 
                                <div class="col">
                                    <h2>{{ course.title }}</h2>
                                </div> 
                            </div> 
                            <p>{{ course.instructor }}</p>
                            <p>{{ course.platform }}</p> 
                            <span>⭐</span>
                            <span id="reviews">{{ course.rating }}</span> 
                            <div class="row justify-content-between pr-4 mx-1 mt-2"> 
                                <div class="d-flex"><h2>${{ course.price }}</h2><span class="align-item-bottom">mxn</span></div>
                                <a target="_blank" href="https://udemy.com{{ course.url }}" class="text-white">
                                    <button type="button" class="btn btn-success px-2 py-1"> Ir al curso </button>
                                </a>
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'favorite_add' course.id %}">
                                <button type="button" class="btn btn-danger px-2 py-1"> <i class="fa-sharp fa-solid fa-bookmark"></i>  Añadir a favoritos  </button>
                                </a>
                                {% endif %}
                            </div> 
                            <div class="pt-3 pb-5">
                                {{course.description | safe}}
                            </div>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

<div class="mx-5 my-4 p-5 rounded-lg card">
    <h3 class="pb-2">Comentarios</h3>
    {% if comments %}
    <h1>hola</h1>
    {% endif %}
    {% for comments in course.comments.all %}
    <div class="d-flex bg-light p-3 my-2 rounded-lg border">
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden border border-dark">
        <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="user" width="100" class="comment">
        </div>
        <div class="align-self-center ml-3">
            <h4>{{ comments.user }}</h4>
        </div>
        <div class="py-3 px-5">
            <p>{{ comments.comment }}</p>
        </div>
    </div>
    {% endfor %}

</div>
{% if request.user.is_authenticated %}
<h3 class="ml-5 mt-5 pl-5 pb-3">Escribir comentario</h3>
<div class="mb-5">
    <form action="{{ course.id }}/comment" method="post" class="mx-5 rounded-lg card">
        {% csrf_token %}
        <input type="text" name="comment" class="form-control p-3" placeholder="Comenetar" aria-label="Comentar">
    </form>
</div>

{% endif %}
{%  endblock  %}