<!-- Remove the container if you want to extend the Footer to full width. -->
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #158f46;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        {% if not request.user.is_authenticated %}
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">¿Ya tienes cuenta?</span>
            <button type="button" class="btn btn-outline-light btn-rounded ml-2">
             <a href="{% url 'register' %}" class="text-white hover:text-black">Registrate!</a>
            </button>
          </p>
        </section>
        {% endif %}

        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">MFDS_T3</a>
      </div>
      <!-- Copyright -->
    </footer>
