{% extends 'main.html' %} 
{%  load static %}

{% block tittle %}
Trabajos
{% endblock %}

{%  block content  %}
<section style="background-color: #eee;">
    <div class="container py-5" style="margin-left: 20px;">
  
      <div class="row" style="width: 1300px;">
        <div class="col-lg-3" style="max-width: 23%;">
          <div class="card mb-3" style="width: 250px;">
            <div class="card-body text-center">
              <form method="POST" action="">
                {% csrf_token %}
                      <div class="form-outline mb-2">
                        <p class="text-left font-weight-bold">Filtro</p>
                        <p class="text-center font-weight-bold">País</p>
                        <div class="float-left">

                          <label class="float-left">
                            <input type="radio" name="pais" value="mexico"> México
                          </label>
                          <br>
                          <label class="float-left">
                            <input type="radio" name="pais" value="estados_unidos"> Estados Unidos
                          </label>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>

                        <p class="text-center font-weight-bold">Salario</p>
                        <div class="float-left">

                          <label class="float-left">
                            <input type="radio" name="salario" value="0-8000">$0-$8000
                          </label>
                          <br>
                          <label class="float-left">
                          <input type="radio" name="salario" value="8001-12000">$8001-$12000
                          </label>
                          <br>
                          <label class="float-left">
                          <input type="radio" name="salario" value="12001-18000">$12001-$18000
                          </label>
                          <br>
                          <label class="float-left">
                          <input type="radio" name="salario" value="+18000">+$18000
                          </label>
                        </div>
                        
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class="text-center font-weight-bold">Tipo</p>
                        <div class="float-left">

                          <label class="float-left">
                            <input type="radio" name="modalidad" value="presencial"> Presencial
                          </label>
                          <br>
                          <label class="float-left">
                            <input type="radio" name="modalidad" value="presencial"> Remoto
                          </label>

                        </div>
                      </div>
            </form>
            </div>
          </div>
        </div>
        <div class="col-lg-9" style="position: relative;"> 
          <div class="row" style= "width: auto;">
            <div class="col-lg-12">
            <div class="card mb-4 ">
              <div class="card-header ">
              <h5 class="card-title ">Resultados de busqueda</h5>
              </div>
              <div class="card-body d-flex justify-content-between" style="overflow-y: hidden;">  
                <div class="row"> 
                      <!--TRABAJOS-->
                      {% if jobs %}
                      {% for job in jobs %}
                      <div class="col-9 mx-auto col-md-6 col-lg-3">
                            <div class="card mb-4 ml-2 box-shadow " style="border-color: transparent;"" > <!--margen del fondo-->

                                    <a href="">
                                        <img src="https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1730&q=80" class="card-img-top" alt="trabajo_titulo"></a>
                                  

                                <div class="card-body">
                                  <h6 class=""><a target="_blank" href="{{job.url}}">{{ job.title }}</a></h6>
                                  <span>{{job.location}}</span> <br>
                                  <span>{{job.company}}</span> <br>
                                  <span>{{ job.postDate }}</span>
                                  </div>
                            </div>
                          </div>
                          {% endfor %}
                          {% else %}
                      <!--<div style="display: flex; align-items:center; justify-content: center;">
                        <img src="https://tutomex.com/error-404.png" alt=""> </div>-->
                      <h6>Lo sentimos :( no encontramos trabajos para tu busqueda. Puedes ir a <a href="{% url 'jobs' %}">AQUÍ</a> 
                        para ir a todos los trabajos</h6>
                   
                      {% endif %}
                      </div>
                  </div>
          </div>
          </div>



         </div>
         <!--FIN -->
        </div>
        </div>
      </div>
    </div>
    
  </section>

{%  endblock  %}