{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title> {% block tittle %} {% endblock %}</title>
  </head>
  <body>

   <!--  <header>
    <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'login' %}">Login</a>
    </header>-->
    <nav class="navbar navbar-expand-md navbar-fixed-top navbar-light main-nav" style="background-color: #ffff;">
      <a href="/" class="navbar-brand"><i class="fa-solid fa-lines-leaning"></i></a> <!-- Icono de libro -->
      <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-center" id="nav">
      <ul class="navbar-nav">
          <li class="nav-item dropdown"><a class="nav-link text-dark text-uppercase font-weight-bold px-3 dropdown-toggle" 
              href="" data-toggle="dropdown">Categorias</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'home' %}">Backend</a>
                  <a class="dropdown-item" href="#">Frontend</a>
                  <a class="dropdown-item" href="#">Full Stack</a>
                  <a class="dropdown-item" href="#">Data Science</a>
                  <a class="dropdown-item" href="#">Cibersecurity</a>
                  
              </div>
          </li>
          <li class="nav-item ml-5">
          <form class="form-inline ml-3">
            <div class="input-group">
              <input type="text" name="title" class="form-control " placeholder="buscar">
              <div class="input-group-append">
                <button type="submit" class="btn btn-dark" name="button"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
          </li>
          {% if not request.user.is_authenticated %}
         <li class="nav-item">
           <a class="nav-link text-dark text-uppercase font-weight-bold px-3 ml-5" href="{% url 'login' %}">
              Iniciar sesión <i class="fas fa-user-plus"></i>
           </a>
         </li>
         <li class="nav-item">
          <a class="nav-link text-dark text-uppercase font-weight-bold px-3 btn btn-outline-success my-2 my-sm-0 ml-5" href="{% url 'register' %}">
             Registrarse <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item"></li>
          <span class="nav-link text-dark text-uppercase font-weight-bold px-3 ml-5">¡Hola, {{request.user}}</span>
        </li>
        <li class="nav-item"></li>
          <span ><a  class="nav-link text-dark text-uppercase font-weight-bold px-3 btn btn-outline-success my-2 my-sm-0 ml-5" href="{% url 'logout' %}">Cerrar sesión</a></span>
        </li>          
      </ul>

    {% endif %}
  </div>

  </nav>
    
   {% block content %}
    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2a64dec039.js" crossorigin="anonymous"></script>
  </body>
</html>