{% load static %}
    <nav class="navbar navbar-expand-md navbar-fixed-top navbar-light main-nav" style="background-color: #ffff;">
      <a href="/" class="navbar-brand"><i class="fa-solid fa-lines-leaning"></i></a> <!-- Icono de libro -->
      <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-center" id="nav">
      <ul class="navbar-nav">
          <li class="nav-item dropdown"><a class="nav-link text-dark text-uppercase font-weight-bold px-3 dropdown-toggle" 
              href="" data-toggle="dropdown">Categorias</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'courses' 'backend' %}">Backend</a>
                  <a class="dropdown-item" href="{% url 'courses' 'frontend' %}">Frontend</a>
                  <a class="dropdown-item" href="{% url 'courses' 'fullstack' %}">Full Stack</a>
                  <a class="dropdown-item" href="{% url 'courses' 'datascience' %}">Data Science</a>
                  <a class="dropdown-item" href="{% url 'courses' 'cybersecurity' %}">Cibersecurity</a>
                  
              </div>
          </li>
          <li class="nav-item ml-5">
          <form class="form-inline ml-3">
            <div class="input-group">
              <input type="text" name="title" class="form-control " placeholder="buscar">
              <div class="input-group-append">
                <button type="submit" class="btn btn-dark" name="button"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
          </li>
          {% if not request.user.is_authenticated %}
         <li class="nav-item">
           <a class="nav-link text-dark text-uppercase font-weight-bold px-3 ml-5" href="{% url 'login' %}">
              Iniciar sesión <i class="fas fa-user-plus"></i>
           </a>
         </li>
         <li class="nav-item">
          <a class="nav-link text-dark text-uppercase font-weight-bold px-3 btn btn-outline-success my-2 my-sm-0 ml-5" href="{% url 'register' %}">
             Registrarse <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item"></li>
          <span class="nav-link text-dark text-uppercase font-weight-bold px-3 ml-5">¡Hola, {{request.user}}</span>
        </li>
        <li class="nav-item"></li>
          <span ><a  class="nav-link text-dark text-uppercase font-weight-bold px-3 btn btn-outline-success my-2 my-sm-0 ml-5" href="{% url 'logout' %}">Cerrar sesión</a></span>
        </li>          
      </ul>

    {% endif %}
  </div>

  </nav>
    
