{% extends 'main.html' %} 
{%  load static %}

{% block tittle %}
Perfil
{% endblock %}

{%  block content  %}
<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{user.perfil.avatar.url}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                <br>
                <a class="font-weight-bold" style="color: #158f46;" href="{% url 'profileConfigAvatar' %}">
                  Editar imagen de perfil</a>
              <h5 class="my-3">{{user.first_name}} {{user.last_name}}</h5>
              <p class="text-muted mb-4">{{user.perfil.pais}}</p>
              <div class="d-flex justify-content-center mb-2">
                <a class="nav-link text-white text-uppercase font-weight-bold btn  shadow-sm rounded" style="background-color:#158f46;" href="{% url 'profileConfig' %}">
                  Editar información personal
               </a>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <a class="nav-link text-white text-uppercase font-weight-bold btn  shadow-sm rounded" style="background-color:#158f46;" href="{% url 'profileConfigPassword' %}">
                  Cambiar contraseña
               </a>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0 text-center">
            <div class="card-body p-3">
                <h5>Habilidades</h5>
                <hr class="mt-0 mb-4">
                <div class=" justify-content-center text-center">
                    <h6>Soft skills</h6>
                    <ul>{{user.skills.soft_skill1}}   <a href="{% url 'SoftSkill1' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
                    <ul>{{user.skills.soft_skill2}}   <a href="{% url 'SoftSkill2' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
                    <ul>{{user.skills.soft_skill3}}   <a href="{% url 'SoftSkill3' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
                    <ul>{{user.skills.soft_skill4}}   <a href="{% url 'SoftSkill4' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
                    <ul>{{user.skills.soft_skill5}}   <a href="{% url 'SoftSkill5' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
               </div>
               <hr class="mt-0 mb-4">
               <div class=" justify-content-center text-center">
                   <h6>Hard skills</h6>
                   <ul>{{user.skills.hard_skill1}}   <a href="{% url 'HardSkill1' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
                   <ul>{{user.skills.hard_skill2}}   <a href="{% url 'HardSkill2' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
                   <ul>{{user.skills.hard_skill3}}   <a href="{% url 'HardSkill3' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
                   <ul>{{user.skills.hard_skill4}}   <a href="{% url 'HardSkill4' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
                   <ul>{{user.skills.hard_skill5}}   <a href="{% url 'HardSkill5' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user.first_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Apellido</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Correo electrónico</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user.email}}</p>
                  <a class="font-weight-bold" style="color: #158f46;" href="{% url 'profileConfigEmail' %}">
                    Editar correo electrónico
                 </a>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Usuario</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{request.user}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">País</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.perfil.pais}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
            <div class="card mb-4 ">
              <div class="card-header ">
              <h5 class="card-title ">Mis cursos favoritos</h5>
              </div>
                <div class="card-body d-flex justify-content-between">
          <!--Despliegue de cursos-->
                  <!--Curso 1-->
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80" alt="" class="card-img-top" style="height: 130px; width:100%; display:block;">
              <div class="card-body">
                <h6 class=""><a href="#">Aprende JavaScript, HTML5 y CSS3</a></h6>
                <span>Instructor</span> <br>
                <span>Plataforma</span> <br>
                <span>⭐</span><span>5</span>
                </div>
              </div>
            </div>
                  <!--Curso 2-->
            <div class="col-md-4">
              <div class="card          mb-4 box-shadow">
                <img src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80" alt="" class="card-img-top" style="height: 130px; width:100%; display:block;">
                <div class="card-body h">
                  <h6 class=""><a href="#">Aprende JavaScript, HTML5 y CSS3</a></h6>
                  <span>Instructor</span> <br>
                  <span>Plataforma</span> <br>
                  <span>⭐</span><span>5</span>
                  </div>
                </div>
              </div>
                <!--curso 3-->
              <div class="col-md-4 h-100">
                <div class="card mb-4 box-shadow">
                  <img src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80" alt="" class="card-img-top" style="height: 130px; width:100%; display:block;">
                  <div class="card-body">
                    <h6 class=""><a href="#">Aprende JavaScript, HTML5 y CSS3</a></h6>
                    <span>Instructor</span> <br>
                    <span>Plataforma</span> <br>
                    <span>⭐</span><span>5</span>
                    </div>
                  </div>
                </div>
            </div>
            <!--card body-->
          </div>
          </div>
         </div>
         <!--CURSOS SUGERIDOS-->
         <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-header ">
              <h5 class="card-title ">Cursos sugeridos</h5>
              </div>
                <div class="card-body d-flex justify-content-between">
                  <!--CURSOS DESPLEGADOS-->
                  {% for course in courses %}
                  
                  <div class="col-md-4">
                     <div class="card mb-4 box-shadow h-100">
                       <img src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80" alt="" class="card-img-top" style="height: 130px; width:100%; display:block;">
                       <div class="card-body">
                         <h6 class=""><a href="{% url 'courseView' course.id %}">{{ course.title }}</a></h6>
                         <span>{{course.instructor}}</span> <br>
                         <span>{{ course.platform }}</span> <br>
                         <span>⭐</span><span>{{course.rating}}</span>
                         </div>
                       </div>
                     </div> 
                     
                       
                     {% endfor %}
                   <!--FIN CURSOS DESPLEGADOS--> 
                </div>
            </div> 
          </div> 
         </div>
         <!--FIN -->
        </div>
        </div>
      </div>
    </div>
    
  </section>

{%  endblock  %}