body{
    background-color: #f3f3f3;
}

#btn_redesociales{
    border-radius: 50px;
}

h1 a, h2 a {
    color: #00ff62;
}

.main-banner{
    
    background-position: center center;
}

.main-form-search{
    background-color: rgba(255, 255, 255, 0.700);
}

.comment-user-image
{
    object-fit: cover;
    object-position: center;
}